main>.topBrands{
    width:90%;
    height:400px;
    margin: 0 auto;
    text-align: center;
    margin-top:5%;
    p{
        color: #333333;
        font-weight: bolder;
        font-size:40px;
        text-align: center;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top:30px;
        img{
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }
    a{
        width:15%;
        height:45px;
        display: inline-block;
        color: #333333;
        border: 1px solid black;
        border-radius:22px;
        line-height: 45px;
        margin-top: 30px;
        text-transform: uppercase;

    }>a:hover{background-color: rgb(246, 246, 246);}
}



main>div.videoo{
    width:800px;
    height:450px;
    margin: 0 auto;
    video{
        width:800px;
        height:450px;
        margin: 0 auto;
    }
}