main>div.standards{
    width:90%;
    height:470px;
    margin: 0 auto;
    margin-top:5%;
    text-align: center;
    span{
        font-weight: bold;
        color: #333333;
        font-size:28px;
    }
    p{
        color: #333333;
        font-size:12px;
        margin: 20px 5%;
        width:90%;
        text-align: center;
    }
    img{
        width:120px;
        height:120px;
        margin:10px 5px;
    }
}


main>div.follow{
    width:50%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top:9%;
    p{
        color: #333333;
        font-size:20px;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
    }
    svg:nth-of-type(1){
        width:35px;
        height:35px;
        fill: #1878f3;
        transform: scale(1.8);
        margin: 5px 5px;
        vertical-align: top;
    }
    svg:nth-of-type(2){
        width:30px;
        height:30px;
        transform: scale(1.5);
        fill: #fe0000;
        line-height: 26px;
        margin: 5px 5px;
        vertical-align: top;
    }
    svg:nth-of-type(3){
        width:23px;
        height:23px;
        border-radius:11px;
        transform: scale(1.5);
        background-color: #ef0075;
        line-height: 26px;
        margin:5px 5px;
        vertical-align: top;
        path{
            fill: white;
            width:26px;
            height: 26px;
        }      
    }
}