main>header>nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 999;
    background-color: white;
    position: fixed;

    /*menu & logo*/
    
    div.menu{
        width:calc(100% / 3);
        height:inherit;
        display: flex;
        flex-shrink:3;
         span{
            width: 10%;
            height: 10%;
            font-size:23px;
            margin-top: 25px;
            margin-left: 15%;
            transition: 100ms;
            color: #666666;
         }>span:hover{font-size: 28px;}
         svg{
            fill: #666666;
            margin-left:15%;
            margin-top: 25px;
            transform: scale(0.9);
        }
    }
    div.search{width:calc(100% / 1);
        display: none;
    }

    /*join/sign input box*/

    div.joinsign{
        width:calc(100% / 3);
        height: inherit;
        display: flex;
        flex-shrink: 1;
        justify-content: center;
        div{
            width: 70%;
            height:80px;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            span{
                
                svg{
                    width:20px;
                    height: 20px;
                    transform:scale(1.3);
                }
            }
        }
        a{
            display: none;
        }
}
}
div.full-menu{display: none;}
main>header>nav>div.sign{display: none;}
main>header>nav>div.join{display: none;}
main>header>nav>div.shopp{display: none;}